.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover ;
}
canvas
{
    border: 10px;
    margin: 10px;
    padding: 20px;
}